{
  "extends": "jquery",
  "env": {
    "browser": true,
    "jquery": true,
    "es6": true
  },
  "globals": {
    "ich": true,
    "QUnit": true,
    "sinon": true,
    "$window": true,
    "widgetName": true,
    "searchQueryOption": true,
    "errorEvent": true,
    "allDoneEvent": true,
    "doneLoadingEvent": true,
    "skipLoadingEvent": true,
    "loadTriggerEvents": true,
    "requestErrorCode": true,
    "parseResultErrorCode": true
  }
}
